// Footer styling

div.footer {
  position: relative;

  div.footer-row {
    margin-bottom: 5vh;

    a.footer-text {
      display: block;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
    }

    div.line {
      height: .1rem;
    }

    &:hover {
      div.line {
        width: 100%;
      }
    }
  }

  a.scroll-up {
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    position: absolute;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.footer-home {
    color: #FFF;
    height: 25vh;
    background-color: #000;
  }

  &.footer-projects {

  }

  &.footer-simpl {
    height: 10vh;
    background-color: $simpl;

    div.footer-row {
      margin-bottom: 0;

      a.footer-text {
        font-family: "Jost", monospace;
        font-size: 1.1rem;
        color: #FFF;
      }
    }

    a.scroll-up {
      color: #FFF;
      margin: .75rem;
      font-size: 1.6rem;
    }
  }
}