// Footer styling

div.footer {
  color: #FFF;
  height: 25vh;
  position: relative;
  background-color: #000;

  div.footer-row {
    margin-bottom: 5vh;

    a.footer-text {
      display: block;
      font-size: 1rem;
      font-family: "Work Sans", sans-serif;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;

      &:hover {
        -webkit-transform: scaleX(1.05) scaleY(.95);
        -moz-transform: scaleX(1.05) scaleY(.95);
        -o-transform: scaleX(1.05) scaleY(.95);
        transform: scaleX(1.05) scaleY(.95);
      }
    }
  }

  a.scroll-up {
    top: 0;
    right: 0;
    margin: 1rem;
    position: absolute;
    font-size: 2rem;
  }
}