// Footer styling

div.footer {
  color: #FFF;
  height: 25vh;
  position: relative;
  background-color: #000;

  div.footer-row {
    margin-bottom: 5vh;

    a.footer-text {
      display: block;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
    }

    div.line {
      height: .1rem;
    }

    &:hover {
      div.line {
        width: 100%;
      }
    }
  }

  a.scroll-up {
    top: 0;
    right: 0;
    margin: 1rem;
    position: absolute;
    font-size: 2rem;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;

    &:hover {
      transform: scale(1.1);
    }
  }
}