// Navbar styling

div.navbar {
  width: 100%;
  position: absolute;

  button.hamburger {
    z-index: 3;
    position: absolute;
    text-align: center;
    height: 5rem;
    width: 5rem;
    right: 0;

    &:focus {
      outline: 0;
    }

    span.hamburger-box {
      vertical-align: middle;
    }
  }

  div.menu {
    z-index: 2;
    width: 100%;
    position: absolute;
    padding-bottom: 5rem;
    background-color: #FFF;
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);

    div.menu-buttons {
      height: 5rem;
      margin: 0 5rem;

      div.menu-home {
        left: 0;
        width: 5rem;
        height: 5rem;
        position: absolute;
      }

      div.menu-lang {
        height: 100%;
        display: flex;
        align-items: center;

        div.lang-btn {
          margin: 0 1rem;
          cursor: pointer;
          -webkit-transition: filter .5s;
          -moz-transition: filter .5s;
          -o-transition: filter .5s;
          transition: filter .5s;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);

          > svg {
            height: 1.5rem;
            width: auto;
          }

          &.selected {
            -webkit-filter: none;
            filter: none;
          }
        }
      }

      a.menu-img {
        font-size: 2rem;
        padding: 1rem;
        display: flex;

        > svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    div.menu-links {
      display: flex;
      flex-direction: column;

      div.menu-row {
        display: flex;
        flex: 1;

        div.menu-col {
          flex: 1;

          a.menu-link {
            padding: .5rem 0;

            div.menu-text {
              font-size: 1.4rem;

              @media (min-width: $small) {
                font-size: 1.8rem;
              }
            }

            &.simpl-link {
              color: #C4232E;
              font-family: "Jost", "sans-serif";

              div.line {
                background-color: #C4232E;
              }
            }

            &:hover {
              div.line {
                width: 100%;
              }
            }
          }
        }
      }
    }

    &.extended {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  &.navbar-home {
    button.hamburger {
      span.hamburger-inner, span.hamburger-inner::before, span.hamburger-inner::after {
        background-color: #FFF;
        -webkit-transition: background-color .35s;
        -moz-transition: background-color .35s;
        -o-transition: background-color .35s;
        transition: background-color .35s;
      }

      &.is-active {
        span.hamburger-inner, span.hamburger-inner::before, span.hamburger-inner::after {
          background-color: #000;
        }
      }
    }
  }

  &.navbar-projects {

  }

  &.navbar-simpl {
    div.menu {
      right: 0;
      width: 70%;
      padding-bottom: 0;
      background-color: transparent;

      @media (max-width: $large) {
        width: 100%;
      }

      div.menu-links {
        flex-direction: row;
        padding-right: 5rem;
        padding-left: 2.5rem;

        div.menu-row {
          height: 5rem;
        }
      }
    }
  }
}