// Scroll
@-webkit-keyframes scroll-icon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1rem);
  }
}

@-moz-keyframes scroll-icon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1rem);
  }
}

@-o-keyframes scroll-icon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1rem);
  }
}

@keyframes scroll-icon {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(1rem);
  }
}

// ------------------------------------------------------------------------------------------------

// Wave
@-webkit-keyframes wave {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vmin;
  }
}

@-moz-keyframes wave {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vmin;
  }
}

@-o-keyframes wave {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vmin;
  }
}

@keyframes wave {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vmin;
  }
}

// Reverse wave
@-webkit-keyframes wave-reverse {
  from {
    background-position-x: 80vmin;
  }
  to {
    background-position-x: 0;
  }
}

@-moz-keyframes wave-reverse {
  from {
    background-position-x: 80vmin;
  }
  to {
    background-position-x: 0;
  }
}

@-o-keyframes wave-reverse {
  from {
    background-position-x: 80vmin;
  }
  to {
    background-position-x: 0;
  }
}

@keyframes wave-reverse {
  from {
    background-position-x: 80vmin;
  }
  to {
    background-position-x: 0;
  }
}

// Slow wave
@-webkit-keyframes wave-slow {
  from {
    background-position-x: 60vmin;
  }
  to {
    background-position-x: 0;
  }
}

@-moz-keyframes wave-slow {
  from {
    background-position-x: 60vmin;
  }
  to {
    background-position-x: 0;
  }
}

@-o-keyframes wave-slow {
  from {
    background-position-x: 60vmin;
  }
  to {
    background-position-x: 0;
  }
}

@keyframes wave-slow {
  from {
    background-position-x: 60vmin;
  }
  to {
    background-position-x: 0;
  }
}

// ------------------------------------------------------------------------------------------------

// Glitch text animation
@-webkit-keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@-moz-keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@-o-keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

// Top part glitch
@-webkit-keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@-moz-keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@-o-keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

// Bottom part glitch
@-webkit-keyframes glitchBottom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

@-moz-keyframes glitchBottom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

@-o-keyframes glitchBottom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

@keyframes glitchBottom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}